/var/log/gunicorn/python-clinic-*.log {
        daily
        missingok
        rotate 52
        compress
        delaycompress
        notifempty
        create 640 nginx adm
        sharedscripts
        postrotate
            service python-clinic-app restart
        endscript
}
