body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.python-clinic-address {
    padding:20px;
    overflow-wrap:break-word;
    overflow:hidden
}

.main-container {

    z-index: 1000;
    background: white;
}
.python-clinic-main {
    margin-top: 64px;
}
.sidebar {
    z-index: 2000;
}

.btn-group.project-actions {
    width: 100%;
    position: relative;
}

.project-actions a, .project-actions button {
    margin-right: 4px;
    margin-bottom: 4px;
}
