[Unit]
Description=python-clinic app
After=network.target

[Service]
PIDFile={{ python_clinic_runtime_dir }}/pid
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=python-clinic.web
WorkingDirectory={{ python_clinic_tmp_dir }}
ExecStart={{ python_clinic_venv_dir }}/bin/gunicorn \
{% for key, value in application_env.items() %}-e {{ key }}='{{ value }}' \
{% endfor %}
--access-logfile /var/log/gunicorn/python-clinic-app.access.log \
--capture-output \
--chdir {{ python_clinic_src_dir }} \
--enable-stdio-inheritance \
--worker-class flask_sockets.worker \
--error-logfile /var/log/gunicorn/python-clinic-app.error.log \
--log-level debug \
--pid {{ python_clinic_runtime_dir }}/pid \
--pythonpath {{ python_clinic_src_dir }} \
-b 127.0.0.1:{{ python_clinic_app_http_port }} \
wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
