limit_req_zone $binary_remote_addr zone=gitea:10m rate=32r/s;
server {
    listen 443 ssl;
    root /dev/null;

    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    server_name git.python.clinic;

    limit_req zone=gitea burst=16 nodelay;

    access_log /var/log/nginx/git.python.clinic.access.log;
    error_log /var/log/nginx/git.python.clinic.error.log;

    ssl_certificate {{ python_clinic_tls_path }}/certs/git.python.clinic/fullchain.pem;
    ssl_certificate_key  {{ python_clinic_tls_path }}/certs/git.python.clinic/privkey.pem;

    {% include "nginx.server.ssl.j2" %}

    keepalive_requests 200;
    keepalive_timeout 120s;
    client_max_body_size 8M;
    add_header Server 'Apache' always;
    # add_header Strict-Transport-Security "max-age=31536000";

    location / {
        # checks for static file, if not found proxy to app

        try_files $uri @gitea;
    }

    location @gitea {
        root /dev/null;
        proxy_pass                      http://127.0.0.1:10080;
        proxy_set_header                X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto https;
        proxy_set_header                Host $http_host;
        proxy_set_header                Server Apache;
        proxy_buffering                 off;
        proxy_redirect                  off;
        proxy_pass_request_headers      on;
        proxy_pass_request_body         on;
    }
}
