server {
    listen 443 ssl;
    root /dev/null;
    gzip_static  on;

    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    server_name shell.{{ python_clinic_root_hostname }};

    access_log /var/log/nginx/shell.{{ python_clinic_root_hostname }}.access.log;
    error_log /var/log/nginx/shell.{{ python_clinic_root_hostname }}.error.log;

    ssl_certificate {{ python_clinic_tls_path }}/certs/shell.python.clinic/fullchain.pem;
    ssl_certificate_key  {{ python_clinic_tls_path }}/certs/shell.python.clinic/privkey.pem;

    {% include "nginx/nginx.server.ssl.j2" %}

    keepalive_requests 200;
    keepalive_timeout 120s;
    client_max_body_size 4M;
    add_header Server 'Apache' always;
    # add_header Strict-Transport-Security "max-age=31536000";


    location / {
        # checks for static file, if not found proxy to app
        try_files $uri @butterfly;
    }

    location @butterfly {
        auth_basic           “admin”;
        auth_basic_user_file {{ python_clinic_nginx_htpasswd_dir }}/shell.python.clinic;
        root /dev/null;
        proxy_pass                      http://127.0.0.1:{{ butterfly_port }};
        {% include "nginx/proxy.options.j2" %}
    }
}
