server {
    listen 443 ssl;
    root {{ python_clinic_private_dir }}/subdomains/{{ item }};
    gzip_static  on;

    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    server_name {{ item }}.{{ python_clinic_root_hostname }};

    access_log /var/log/nginx/{{ item }}.{{ python_clinic_root_hostname }}.access.log;
    error_log /var/log/nginx/{{ item }}.{{ python_clinic_root_hostname }}.error.log;

    ssl_certificate {{ python_clinic_tls_path }}/certs/{{ item }}.python.clinic/fullchain.pem;
    ssl_certificate_key  {{ python_clinic_tls_path }}/certs/{{ item }}.python.clinic/privkey.pem;

    {% include "nginx/nginx.server.ssl.j2" %}

    keepalive_requests 200;
    keepalive_timeout 120s;
    client_max_body_size 4M;
    add_header Server 'Apache' always;
    # add_header Strict-Transport-Security "max-age=31536000";


    location / {
        autoindex on;
    }
}

server {
    listen 80 default;
    root /dev/null;
    add_header Server 'Apache' always;
    server_name {{ item }}.{{ python_clinic_root_hostname }};

    location /.well-known/acme-challenge {
        alias {{ dehydrated_www_root }};
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
